.place__title {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 425px) {
  .place__title {
    margin: 0 auto;
    width: 90%;
    font-size: 32px;
    line-height: 1.1;
  }
}
