.photo-grid {
  margin: 92px auto 0;
  display: grid;
  width: 92.5%;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  row-gap: 16px;
  column-gap: 16px;
}

@media screen and (min-width: 1600px) {
  .photo-grid {
    grid-template-columns: repeat(6, 1fr);
    width: 92.5%;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    width: 90%;
  }
}

