.places {
  margin: 0 auto;
  width: 90.5%;
  display: flex;
  flex-flow: column;
  row-gap: 80px;
}

@media screen and (min-width: 1280px) {
  .places {
    width: 77%;
  }
}

@media screen and (max-width: 425px) {
  .places {
    width: 100%;
    row-gap: 50px;
  }
}
