.places {
  margin: 92px auto 0;
  width: 77%;
  display: flex;
  flex-flow: column;
  row-gap: 80px;
}

@media screen and (max-width: 1280px) {
  .places {
    width: 92.5%;
  }
}

@media screen and (max-width: 425px) {
  .places {
    width: 100%;
    row-gap: 50px;
  }
}
