.lead {
  margin: 0 auto;
  width: 90.5%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .lead {
    width: 77%;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: 100%;
  }
}
