.cover__subtitle {
  margin: 0;
  padding: 0;
  width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 90%;
    font-size: 14px;
    line-height: 1.15;
  }
}
