.intro {
  margin: 0 auto 0 calc((100% - 90.5%) / 2);
  max-width: 690px;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
}

@media screen and (min-width: 1280px) {
  .intro {
    margin-left: calc((100% - 77%) / 2);
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 auto;
    max-width: 93.75%
  }
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: 90%
  }
}
