.intro {
  margin: 56px auto 0 calc((100% - 77%) / 2);
  max-width: 690px;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .intro {
    margin-left: calc((100% - 92.5%) / 2);
    width: 92.5%;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin-left: calc((100% - 92.5%) / 2);
  }
}
