.cover__overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  background: rgba(42, 44, 47, 0.3);
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  row-gap: 32px;
}

@media screen and (min-width: 1280px) {
  .cover__overlay {
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    row-gap: 16px;
  }
}
@media screen and (max-width: 425px) {
  .cover__overlay {
    row-gap: 16px;
  }
}
