.footer {
  margin: 92px auto 0;
  padding: 0 0 24px;
  width: 92.5%;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 320px) {
  .footer {
    flex-flow: column;
  }
}
