.footer {
  margin: 0 auto 0 calc((100% - 90.5%)/2);
  padding: 0 0 24px;
  width: 90.5%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer {
    width: max-content;
    flex-flow: column;
    gap: 48px;
  }
}
